<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<div class="block block-products-carousel" data-layout="grid-4" id="comp-featuredP">

  <div class="container">
    <div class="block-header">

      <h3 class="block-header__title"> [[message]] </h3>
      <div class="block-header__divider"></div>
      <ul class="block-header__groups-list">
        <li>
          <button type="button" class="block-header__group block-header__group--active">All</button>
        </li>
        {% for collection in collections %}
        <li>
          <button type="button" class="block-header__group" @click="fetchCollectionData('{{collection.handle}}')">

            {{ collection.title }}
          </button>

        </li>
        {% endfor %}

      </ul>
      <div class="block-header__arrows-list">
        <button class="block-header__arrow block-header__arrow--left" type="button">
          <svg width="7px" height="11px">
            <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
          </svg>
        </button>
        <button class="block-header__arrow block-header__arrow--right" type="button">
          <svg width="7px" height="11px">
            <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="carousel xxx" v-if="featuredProducts">
      {% comment %}
      <div class="swiper-spin" :class="{loading:isLoading===true}">
        {% render 'loading-skeleton.liquid' %}
      </div> {% endcomment %}
      <!-- Slider main container -->
      <div class="swiper">
        <div class="swiper-wrapper" style="min-height: 300px;">
          <div class="swiper-slide" v-for="c_product in featuredProducts">
            <div class="">
              <div class="block-products-carousel__column">
                <div class="movie--isloading" :class="isLoadingFn">
                  <div class="loading-image"></div>
                  <div class="loading-content">
                    <div class="loading-text-container">
                      <div class="loading-main-text"></div>
                      <div class="loading-sub-text"></div>
                    </div>
                    <div class="loading-btn"></div>
                  </div>
                </div>
                <div class="block-products-carousel__cell">
                  <div class="product-card"><button class="product-card__quickview" type="button"><svg width="16px"
                        height="16px">
                        <use xlink:href="images/sprite.svg#quickview-16"></use>
                      </svg> <span class="fake-svg-icon"></span></button>
                    <div class="product-card__image"><a href="product.html"><img :src="[[ c_product.image ]]" alt=""
                          loading="lazy"></a></div>
                    <div class="product-card__info">
                      <div class="product-card__name"><a href="product.html"> [[c_product.title]] </a></div>


                    </div>
                    <div class="product-card__actions">
                      <div class="product-card__availability">Availability: <span class="text-success">In Stock</span>
                      </div>
                      <div class="product-card__prices"> [[c_product.price]] </div>

                      <form action="/cart/add" method="post" enctype="multipart/form-data"
                        :id="'form-'+[[c_product.firstId]]">
                        <input type="hidden" name="id" :value="c_product.firstId">
                      </form>

                      <div class="product-card__buttons">

                        <button @click.prevent="addToCart(c_product.firstId)"
                          class="btn btn-primary product-card__addtocart" type="submit" value="add to cart"
                          :form="'form-' + c_product.firstId"> add to cart </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

</div>

{% render "block-banner"   %}

<script>
  if (document.querySelector('#comp-featuredP')) {
    let featuredP = Vue.createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
          featuredProducts: [],
          isLoading: true
        }

      },

      mounted() {

        this.fetchCollectionData('tools-kits');
      },
      computed: {
        isLoadingFn() {
          return {
            'spining': this.isLoading,
            'complete': !this.isLoading
          }
        }
      },
      methods: {
        fetchCollectionData(handle) {
          const url = `https://stroyka-l.myshopify.com/collections/${handle}?view=jsondata`;
          fetch(url).then(res => res.json()).then(data => {
            setTimeout(() => {
              this.featuredProducts = data;
              this.isLoading = false;
              console.log('faosetn', this.featuredProducts);
            }, 900);
          })



        },
        addToCart(_id) {
          console.info('product id ', _id)
          var url = '/cart/add.js';
          var data = {
            quantity: 1,
            id: _id
          };

          fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          }).then((res)=>{
            if(res.ok){
               document.querySelector(".indicator.indicator--trigger--click").classList.add("indicator--opened")
            }
          }).catch(err=> console.log('error in fetching',err))

        },
       
      }
    })

    featuredP.mount("#comp-featuredP")


  }




  const swiper = new Swiper('.swiper', {
    speed: 400,
    spaceBetween: 100,
    slidesPerView: 3
  });

</script>